<div class="home__container">
    <app-card
    gameCover="assets/bt-05.png"
    gameLabel="Exclusivo"
    gameType="DIGITAL | PS-4"
    gamePrice="R$ 269,99"
    ></app-card>

    <app-card
    gameCover="assets/bt-05.png"
    gameLabel="Exclusivo"
    gameType="DIGITAL | PS-4"
    gamePrice="R$ 159,99"
    ></app-card>

    <app-card
    gameCover="assets/bt-05.png"
    gameLabel="Exclusivo"
    gameType="DIGITAL | PS-4"
    gamePrice="R$ 268,99"
    ></app-card>

    <app-card
    gameCover="assets/bt-05.png"
    gameLabel="Mas Vendido"
    gameType="DIGITAL | PS-4"
    gamePrice="R$ 365,99"
    ></app-card>
</div>

