/* You can add global styles to this file, and also import other style files */
* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
body {
    background: rgb(26,16,199);
background: linear-gradient(90deg, rgba(26,16,199,1) 30%, rgba(31,35,228,1) 53%, rgba(0,50,238,1) 74%, rgba(2,93,200,1) 100%);
}